body {
	background-image: url('../images/pinapple.jpg');
}

.main {
  background-image:url('../images/grid.png');
  border:solid 2px #85efc7;
  margin-top: 210px;
  margin-right: 200px;
  margin-left:200px;
  padding-left: 100px;
  width: 1200px;
  height: 700px;
  position: relative;
  z-index: 1;
}
.title, #showForm, #formSubmit {
  background-color: #f4e369;
  color: #e3ca33;
  text-transform: uppercase;
}

.title {
 font-size: 40px;
 line-height: 45px;
 text-align: center;
}

#showForm, #formSubmit {
 font-size: 30px;
 line-height: 35px;
 text-align: center;
}


.inner-container{
  background-color: #d2f4dc;
  margin-top: -100px;
  margin-left: 40px;
  padding-left: 200px;
  padding-right: 200px;
  width: 600px;
  height: 900px;
  border: solid 15px #85efc7;
  /*position: relative;
  z-index: 1;*/
}





/*.shopping-content {
  background-color: white;
  width: 750px;
  height: 800px;
  margin-top: 80px;
  position: relative;
  z-index: 1;*/

.reveal .fa {
  font-family: 'FontAwesome';
  font-style: normal;
}

.fa{
  text-align: center;
  color:#d2f4dc;
}

}



